.search-box {
  position: relative;
}
.input-search {
  width: 60%;
  border: none;
  background-color: #f1f1f1;
  border-radius: 40px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
.search-icon {
  position: absolute;
  left: 55%;
  top: 15px;
}
.button-contact {
  margin: 0 1rem !important;
  color: white !important;
  background-color: #f967a0 !important;
}
.model-button {
  margin: 1rem 0 !important;
  background-color: #f967a0 !important;
  color: white !important;
}
.form-content {
  margin: 0.5rem 0;
}
